body {
    background-color: rgb(255, 241, 164);
    color: rgb(0, 0, 0);
    margin: 0;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(255, 210, 62);
    color: darkred;
    position: sticky;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 3px solid brown;
    z-index: 2;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    background: linear-gradient(135deg, rgba(255,253,102,1) 0%, rgba(181,0,0,1) 33%, rgba(125,24,6,1) 66%, rgba(255,141,0,1) 99%);
}

aside {
    width: 23%;
    background-color: rgb(255, 210, 62);
    color: darkred;
    position: fixed;
    margin: 0;
    top: 100px;
    bottom: 0;
    right: 0;
    height: 100%;
    border-left: 3px solid brown;
    z-index: 1;
    padding-top: 20px;
    padding-left: 8px;
}

main {
    width: 75%;
}

footer {
    background-color: rgb(255, 210, 62);
    color: darkred;
    border-top: 3px solid brown;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

footer button {
    background-color: #0000ff00;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.vk {
    margin-left: 8px;
}

.vk:hover {
    background-color: #0077ff;
    scale: 1.2;
    transition: 1.5s;
    cursor: pointer;
}

.yt:hover {
    background-color: #c30000;
    scale: 1.2;
    transition: 1.5s;
    cursor: pointer;
}

.tg:hover {
    background-color: #0088cc;
    scale: 1.2;
    transition: 1.5s;
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    width: 30px;
    height: auto;
}

p {
    margin-left: 8px;
}

h1 {
    margin-left: 8px;
}

h2 {
    margin-left: 8px;
}

.h2 {
    margin-left: 0px;
}

a button {
    background-color: white;
}

aside a {
    margin: 5px;
    display: block;
}

.one, .two, .three, .four {
    text-decoration: none;
    color: rgb(255, 241, 164);
    background-color: red;
    padding: 3px;
}

.three {
    background-color: darkred;
}

.img {
    margin-left: 8px;
    width: 30%;
}

h3 {
    margin-left: 8px;
}

.button_sand {
    display: flex;
    margin: 60px;
    background-color: darkred;
    color: white;
    border: 3px solid red;
    border-radius: 20px;
    padding: 15px;
}

.button_sand:hover {
    background-color: red;
    color: white;
    border: 3px solid darkred;
    scale: 2;
    transition: 1.5s;
}

.button_sand_box {
    height: 150px;
    display: flex;
    justify-content: center;
}

.button_sand a {
    color: white;
    text-decoration: none;
}